<div
  class="grid gap-4 justify-center relative overflow-hidden h-full py-5 footer-background md:grid-cols-3 md:px-16 md:justify-items-center lg:px-32"
>
  <div class="logo-white col-span-1 m-auto"></div>

  <div class="col-span-1 items-start text-black">
    <p class="cap-footer mb-4">Contacto</p>
    <p class="text-footer mb-0">Hecmar S.L.</p>
    <p class="text-footer mb-4">
      <a target="_blank" href="/"> www.hecmar.com</a>
    </p>
    <p class="text-footer mb-0">calle 123, 9b</p>
    <p class="text-footer mb-0">+34 9999999</p>
    <p class="text-footer md:mb-4">
      <span>
        Email:
        <a target="_blank" href="mailto:crr@mobilize-fs.com">
          hecmar&#64;gmail.com</a
        >
      </span>
    </p>
  </div>

  <div class="col-span-1 items-start legalColumn text-black">
    <p class="cap-footer mb-4">Legal</p>
    <ul class="mb-0 pl-0">
      <li>
        <a
          class="text-footer"
          href="https://hecmar.com/aviso-legal/"
          target="_blank"
        >
          Aviso legal</a
        >
      </li>
      <li>
        <a
          class="text-footer"
          href="https://hecmar.com/politicas-de-cookies/"
          target="_blank"
        >
          Politica de cookies</a
        >
      </li>
      <li>
        <a
          class="text-footer"
          href="https://hecmar.com/politicas-de-privacidad/"
          target="_blank"
        >
          Politica de privacidad</a
        >
      </li>
    </ul>
  </div>
</div>
