<div
  class="grid gap-4 justify-center relative overflow-hidden h-full py-5 footer-background md:grid-cols-3 md:px-16 md:justify-items-center lg:px-32"
>
  <div class="logo-white col-span-1 m-auto"></div>

  <div class="col-span-1 items-start text-white">
    <p class="cap-footer mb-4">Contacto</p>
    <p class="text-footer mb-0">Hecmar Reformas S.L.</p>
    <p class="text-footer mb-4">
      <a target="_blank" [routerLink]="['/']"> www.hecmarreformas.es</a>
    </p>
    <p class="text-footer mb-0">Calle Jose Antonio Rebolledo y Palma 20</p>
    <p class="text-footer mb-0">+34 611446127</p>
    <p class="text-footer md:mb-4">
      <span>
        Email:
        <a target="_blank" href="mailto:myhinteriores@gmail.com">
          myhinteriores&#64;gmail.com</a
        >
      </span>
    </p>
  </div>

  <div class="col-span-1 items-start legalColumn text-white">
    <p class="cap-footer mb-4">Legal</p>
    <ul class="mb-0 pl-0">
      <li>
        <a class="text-footer" [routerLink]="['/aviso-legal']" target="_blank">
          Aviso legal</a
        >
      </li>
      <li>
        <a
          class="text-footer"
          [routerLink]="['/politica-cookies']"
          target="_blank"
        >
          Politica de cookies</a
        >
      </li>
      <li>
        <a
          class="text-footer"
          [routerLink]="['/politica-privacidad']"
          target="_blank"
        >
          Politica de privacidad</a
        >
      </li>
    </ul>
  </div>
</div>
