<!-- Hero Section -->
<section>
  <div
    class="backgroung-servicio min-h-[78vh] flex items-center justify-center"
  >
    <div
      class="container mx-auto flex flex-col justify-center items-center h-full px-6"
    >
      <div>
        <h1 class="text-7xl text-white font-light">
          Reformas integrales en Madrid
        </h1>
        <p class="text-white text-sm py-4">
          Las reformas integrales en Madrid suponen el principal servicio que
          prestamos a particulares y empresas.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-gray-100 py-16">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <!-- Contenido de la sección -->
    <div class="mt-12 text-center">
      <h2 class="text-3xl md:text-4xl font-light text-gray-900">
        Tu Proyecto, <span class="text-[#0092ca]">Nuestra Pasión</span>
      </h2>
    </div>

    <div class="mt-8 max-w-3xl mx-auto text-lg text-gray-700 text-justify">
      <p>
        Nuestro objetivo es obtener el máximo potencial de cada construcción en
        la que trabajamos. Para ello,
        <strong
          >concebimos y tratamos cada espacio de manera global y
          personalizada</strong
        >, con el fin de que, una vez concluidos los proyectos de reformas, la
        propiedad residencial o negocio en el que se ha trabajado adquiera un
        valor añadido.
      </p>
      <p class="mt-4">
        Sabemos que el proceso de reforma conlleva la toma de muchas decisiones
        importantes. Por ello, nuestro equipo
        <strong>estará a tu lado en todo momento</strong> para ofrecerte el
        respaldo que necesitas y la garantía de que estás tomando
        <strong>las mejores decisiones</strong> para el éxito de tu proyecto. Te
        acompañaremos y ofreceremos diferentes opciones, aconsejándote sobre
        materiales, proveedores, ahorro de energía, distribución de espacios y
        acabados adaptados a tus necesidades y presupuesto.
      </p>
    </div>

    <!-- Botón de acción -->
    <div class="mt-8 flex justify-center">
      <button
        [routerLink]="['/contacto']"
        class="px-6 py-3 bg-[#0092ca] text-white text-lg font-semibold shadow-md transition-all"
        rel="nofollow"
      >
        Pídenos presupuesto
      </button>
    </div>
  </div>
</section>
