<div class="max-w-3xl mx-auto p-6 bg-white shadow-lg rounded-lg mt-10">
  <h1 class="text-3xl font-bold text-center mb-6">Aviso Legal</h1>

  <p class="mb-4">
    Este sitio web,
    <span class="font-semibold">HECMAR REFORMAS INTEGRALES S.L.</span>, con
    domicilio en
    <span class="font-semibold"
      >Calle Jose Antonio Rebolledo y Palma 20 28051 Madrid</span
    >, proporciona información sobre sus productos y servicios conforme a la
    legislación vigente.
  </p>

  <h2 class="text-2xl font-semibold mt-6">1. Propiedad Intelectual</h2>
  <p class="mb-4">
    Todos los contenidos del sitio son propiedad de
    <span class="font-semibold">HECMAR REFORMAS INTEGRALES S.L.</span> y están
    protegidos por derechos de autor.
  </p>

  <h2 class="text-2xl font-semibold mt-6">2. Uso del Sitio Web</h2>
  <p class="mb-4">
    El uso del sitio implica la aceptación de los términos y condiciones aquí
    establecidos.
  </p>

  <h2 class="text-2xl font-semibold mt-6">3. Responsabilidad</h2>
  <p class="mb-4">
    No nos hacemos responsables de daños derivados del uso de la información del
    sitio.
  </p>

  <p class="mt-6">
    Para cualquier consulta, puede contactarnos en
    <span class="font-semibold">myhinteriores&#64;gmail.com</span>.
  </p>
</div>
