<!-- Hero Section -->
<section>
  <div class="backgroung-home min-h-[78vh] flex items-center justify-center">
    <div
      class="container mx-auto flex flex-col justify-center items-center h-full px-6"
    >
      <div>
        <p class="text-white text-4xl font-medium">Empieza ya tu reforma</p>
        <h1 class="text-7xl text text-white font-medium">Reformas en Madrid</h1>
        <p class="text-white text-sm py-4">
          Transformamos espacios con calidad, precio y compromiso.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Servicios -->
<section id="servicios" class="py-12">
  <div class="container mx-auto text-center px-6">
    <h2 class="text-xl text-[#0092ca] font-medium pb-2">
      Líderes en nuestro sector
    </h2>
    <h3 class="text-4xl font-medium">
      Reformas, interiorismo y decoración en Madrid
    </h3>
    <div class="grid md:grid-cols-3 gap-8 mt-6">
      <div *ngFor="let item of items" class="bg-white shadow-lg">
        <img [src]="item.img" alt="" class="h-80" />
        <div class="py-8">
          <p>
            <span class="text-3xl text-[#0092ca] font-medium">Reformas</span>
            <span class="text-3xl font-medium"> {{ item.titulo }}</span>
          </p>
          <p class="font-medium text-lg px-8 py-4 text-justify text-gray-700">
            {{ item.descripcion }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <section class="bg-white py-12">
    <div class="container mx-auto grid md:grid-cols-2 gap-8 items-center px-6">
      <!-- Texto -->
      <div>
        <h2 class="text-3xl font-bold">
          Líderes en <span class="text-[#0092ca]">reformas en Madrid</span>
        </h2>
        <p class="mt-4 text-lg">
          Siendo una de las empresas
          <strong>líderes en reformas en Madrid</strong>, Hecmar Reformas cuenta
          con más de 5 años en el mercado y un equipo de profesionales con una
          dilatada experiencia en reformas para espacios diversos.
        </p>
        <button
          [routerLink]="['/contacto']"
          class="mt-6 inline-block bg-[#0092ca] text-white px-6 py-3"
        >
          Contáctanos
        </button>
      </div>
      <!-- Imagen -->
      <div>
        <img
          [src]="'/assets/img/lideres.jpg'"
          alt="Reforma de Oficina"
          class="shadow-lg"
        />
      </div>
    </div>
  </section>
</section>

<!-- Sección Transformamos los Espacios -->
<section class="bg-white pt-12 pb-4 text-center">
  <div class="container mx-auto px-6">
    <p class="text-xl mt-2 text-[#0092ca]">Mejoramos la vida de las personas</p>
    <h2 class="text-4xl font-medium">Transformamos los espacios</h2>
  </div>
</section>

<section class="container mx-auto grid md:grid-cols-3 py-12 px-20">
  <!-- Interiorismo -->
  <div class="bg-[#0092ca]">
    <img
      [src]="'/assets/img/interiorismo.jpg'"
      alt="Reforma de cocina moderna"
      class="shadow-lg mx-auto h-[700px]"
    />
    <div class="px-10 py-20">
      <h3 class="text-white text-3xl font-medium my-5">Interiorismo</h3>
      <p class="text-white text-lg">
        Te asesoramos sin coste para visualizar el resultado final antes de
        comenzar tu reforma.
      </p>
    </div>
  </div>

  <!-- El Método -->
  <div class="bg-gray-300">
    <div class="px-10 py-20">
      <h3 class="text-3xl font-medium my-5">El Método</h3>
      <p class="text-lg">
        Seguimos un método eficiente para garantizar calidad, cumplimiento y
        satisfacción en cada proyecto.
      </p>
    </div>

    <img
      [src]="'/assets/img/metodo.jpg'"
      alt="Comedor industrial"
      class="shadow-lg mx-auto mt-4 h-[700px]"
    />
  </div>

  <!-- Reformas -->
  <div class="shadow-lg">
    <img
      [src]="'/assets/img/casa.jpg'"
      alt="Reforma integral vivienda"
      class="shadow-lg mx-auto h-[700px]"
    />
    <div class="px-10 py-20">
      <h3 class="text-[#0092ca] text-3xl font-medium my-5">Reformas</h3>
      <p class="text-gray-700 text-lg">
        Somos especialistas en la renovación de viviendas, locales y oficinas,
        cuidando cada detalle.
      </p>
    </div>
  </div>
</section>

<section class="container mx-auto px-6 text-center py-12 bg-gray-100">
  <p class="text-xl text-[#0092ca]">Calidad en cada proyecto</p>
  <h2 class="text-4xl font-medium">La calidad es nuestra firma</h2>

  <div class="container mx-auto mt-10 grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Diseño de espacios -->
    <div class="text-center">
      <img
        class="mx-auto shadow-lg h-28 w-28 rounded-full"
        [src]="'/assets/img/bano-1.jpg'"
        alt="Diseño de espacios"
      />
      <div class="px-20">
        <p class="mt-4">
          <span class="text-3xl font-medium text-[#0092ca]">Diseño</span>
          <span class="text-3xl font-medium"> de espacios</span>
        </p>

        <p class="text-gray-700">
          Cuidamos y mimamos el diseño de tu vivienda, local u oficina,
          adaptándolo a tu gusto con nuestra experiencia.
        </p>
      </div>
    </div>

    <!-- Materiales de calidad -->
    <div class="text-center">
      <img
        class="mx-auto h-28 w-28 rounded-full shadow-lg"
        [src]="'/assets/img/materiales.jpg'"
        alt="Materiales de calidad"
      />
      <div class="px-20">
        <p class="mt-4">
          <span class="text-3xl font-medium text-[#0092ca]">Materiales</span>
          <span class="text-3xl font-medium"> de calidad</span>
        </p>
        <p class="text-gray-700">
          Contamos con un amplio repertorio de proveedores nacionales e
          internacionales para adaptarnos a tu presupuesto.
        </p>
      </div>
    </div>

    <!-- Versatilidad y cercanía -->
    <div class="text-center">
      <img
        class="mx-auto h-28 w-28 rounded-full shadow-lg"
        [src]="'/assets/img/obra.jpg'"
        alt="Versatilidad y cercanía"
      />
      <div class="px-20">
        <p class="mt-4">
          <span class="text-3xl font-medium text-[#0092ca]">Versatilidad</span>
          <span class="text-3xl font-medium"> y cercanía</span>
        </p>
        <p class="text-gray-700">
          Nos adaptamos a tu presupuesto y estilo para reflejar tu personalidad
          en cada espacio.
        </p>
      </div>
    </div>
  </div>

  <div
    class="container mx-auto mt-10 grid grid-cols-1 md:grid-cols-3 gap-1 px-20"
  >
    <img
      class="shadow-md h-72"
      [src]="'/assets/img/local-2.jpg'"
      alt="Proyecto Embajadores"
    />
    <img
      class="shadow-md h-72"
      [src]="'/assets/img/salon.jpg'"
      alt="Proyecto Manchester"
    />
    <img
      class="shadow-md h-72"
      [src]="'/assets/img/oficina-2.jpg'"
      alt="Proyecto Moralzarzal"
    />
  </div>
</section>

<!-- Galería -->
<!-- <section id="galeria" class="py-12 bg-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold">Galería de Proyectos</h2>
    <div class="grid md:grid-cols-3 gap-4 mt-6">
      <img
        src="https://source.unsplash.com/400x300/?architecture"
        class=" shadow"
      />
      <img
        src="https://source.unsplash.com/400x300/?building"
        class=" shadow"
      />
      <img
        src="https://source.unsplash.com/400x300/?interior"
        class=" shadow"
      />
    </div>
  </div>
</section> -->

<!-- Testimonios -->
<!-- <section id="testimonios" class="py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold">Lo que dicen nuestros clientes</h2>
    <div class="mt-6">
      <p class="text-lg italic">
        "Excelente servicio, atención y calidad en el trabajo realizado."
      </p>
      <p class="mt-2 font-medium">- Juan Pérez</p>
    </div>
  </div>
</section> -->

<!-- Contacto -->
<!-- <section id="contacto" class="py-12 bg-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold">Contáctanos</h2>
    <form class="mt-6 max-w-md mx-auto bg-white p-6  shadow">
      <input
        type="text"
        placeholder="Nombre"
        class="w-full p-2 border rounded mb-4"
      />
      <input
        type="email"
        placeholder="Correo Electrónico"
        class="w-full p-2 border rounded mb-4"
      />
      <textarea
        placeholder="Mensaje"
        class="w-full p-2 border rounded mb-4"
      ></textarea>
      <button class="bg-blue-900 text-white px-4 py-2 rounded">Enviar</button>
    </form>
  </div>
</section> -->
