<!-- Hero Section -->
<section>
  <div class="backgroung-home min-h-[78vh] flex items-center justify-center">
    <div
      class="container mx-auto flex flex-col justify-center items-center h-full px-6"
    >
      <div>
        <p class="text-white text-4xl font-light">Empieza ya tu reforma</p>
        <h1 class="text-7xl text text-white font-light">Reformas en Madrid</h1>
        <p class="text-white text-sm py-4">
          Somos el mejor equipo de técnicos y oficiales de obra que trabajamos
          para que tu reforma salga perfecta.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Servicios -->
<section id="servicios" class="py-12">
  <div class="container mx-auto text-center px-6">
    <h2 class="text-sm text-[#0092ca] font-light pb-2">
      Líderes en nuestro sector
    </h2>
    <h3 class="text-4xl font-light">
      Reformas, interiorismo y decoración en Madrid
    </h3>
    <div class="grid md:grid-cols-3 gap-8 mt-6">
      <div *ngFor="let item of items" class="bg-white shadow-lg">
        <img [src]="'/assets/img/reforma-de-bano.jpg'" alt="" />
        <div class="py-8">
          <p>
            <span class="text-base text-[#0092ca] font-light">Reformas</span>
            <span class="text-xl font-light"> Integrales</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <section class="bg-white py-12">
    <div class="container mx-auto grid md:grid-cols-2 gap-8 items-center px-6">
      <!-- Texto -->
      <div>
        <h2 class="text-3xl font-bold">
          Líderes en <span class="text-[#0092ca]">reformas en Madrid</span>
        </h2>
        <p class="mt-4 text-lg">
          Siendo una de las empresas
          <strong>líderes en reformas en Madrid</strong>, Hecmar Reformas cuenta
          con más de 15 años en el mercado y un equipo de profesionales con una
          dilatada experiencia en reformas para espacios diversos.
        </p>
        <a
          href="/contacto/"
          class="mt-6 inline-block bg-[#0092ca] text-white px-6 py-3"
          >Contáctanos</a
        >
      </div>
      <!-- Imagen -->
      <div>
        <img
          [src]="'/assets/img/reforma-de-bano.jpg'"
          alt="Reforma de Oficina"
          class="shadow-lg"
        />
      </div>
    </div>
  </section>
</section>

<!-- Sección Transformamos los Espacios -->
<section class="bg-white py-12 text-center">
  <div class="container mx-auto px-6">
    <h2 class="text-4xl font-bold">Mejoramos la vida de las personas</h2>
    <p class="text-lg mt-2 text-gray-700">Transformamos los espacios</p>
  </div>
</section>

<section class="container mx-auto grid md:grid-cols-3 py-12 px-20">
  <!-- Interiorismo -->
  <div class="bg-[#0092ca]">
    <img
      [src]="'/assets/img/reforma-de-bano.jpg'"
      alt="Reforma de cocina moderna"
      class="shadow-lg mx-auto h-[700px]"
    />
    <div class="px-10 py-20">
      <h3 class="text-white text-3xl font-light my-5">Interiorismo</h3>
      <p class="text-white text-lg">
        Interiorismo gratis. Te enseñamos cómo va a quedar tu reforma antes de
        empezar.
      </p>
    </div>
  </div>

  <!-- El Método -->
  <div class="bg-gray-300">
    <div class="px-10 py-20">
      <h3 class="text-3xl font-light my-5">El Método</h3>
      <p class="text-lg">
        Para llegar al máximo de satisfacción de nuestros clientes,
        <strong
          >seguimos una metodología que asegura el éxito de la reforma</strong
        >.
      </p>
    </div>

    <img
      [src]="'/assets/img/reforma-de-bano.jpg'"
      alt="Comedor industrial"
      class="shadow-lg mx-auto mt-4 h-[700px]"
    />
  </div>

  <!-- Reformas -->
  <div class="shadow-lg">
    <img
      [src]="'/assets/img/reforma-de-bano.jpg'"
      alt="Reforma integral vivienda"
      class="shadow-lg mx-auto h-[700px]"
    />
    <div class="px-10 py-20">
      <h3 class="text-[#0092ca] text-3xl font-light my-5">Reformas</h3>
      <p class="text-gray-700 text-lg">
        Estamos especializados en hacer reformas integrales de
        <strong>viviendas, locales y oficinas</strong>.
      </p>
    </div>
  </div>
</section>

<section class="container mx-auto px-6 text-center py-12 bg-gray-100">
  <h2 class="text-3xl font-bold text-gray-800">Calidad en cada proyecto</h2>
  <p class="text-lg text-gray-600">La calidad es nuestra firma</p>

  <div class="container mx-auto mt-10 grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- Diseño de espacios -->
    <div class="text-center">
      <img
        class="mx-auto shadow-lg h-52 w-52 rounded-full"
        [src]="'/assets/img/reforma-de-bano.jpg'"
        alt="Diseño de espacios"
      />
      <div class="px-20">
        <p class="mt-4">
          <span class="text-3xl font-light text-[#0092ca]">Diseño</span>
          <span class="text-3xl font-light"> de espacios</span>
        </p>

        <p class="text-gray-700">
          Cuidamos y mimamos el diseño de tu vivienda, local u oficina,
          adaptándolo a tu gusto con nuestra experiencia.
        </p>
      </div>
    </div>

    <!-- Materiales de calidad -->
    <div class="text-center">
      <img
        class="mx-auto h-52 w-52 rounded-full shadow-lg"
        [src]="'/assets/img/reforma-de-bano.jpg'"
        alt="Materiales de calidad"
      />
      <div class="px-20">
        <p class="mt-4">
          <span class="text-3xl font-light text-[#0092ca]">Materiales</span>
          <span class="text-3xl font-light"> de calidad</span>
        </p>
        <p class="text-gray-700">
          Contamos con un amplio repertorio de proveedores nacionales e
          internacionales para adaptarnos a tu presupuesto.
        </p>
      </div>
    </div>

    <!-- Versatilidad y cercanía -->
    <div class="text-center">
      <img
        class="mx-auto h-52 w-52 rounded-full shadow-lg"
        [src]="'/assets/img/reforma-de-bano.jpg'"
        alt="Versatilidad y cercanía"
      />
      <div class="px-20">
        <p class="mt-4">
          <span class="text-3xl font-light text-[#0092ca]">Versatilidad</span>
          <span class="text-3xl font-light"> y cercanía</span>
        </p>
        <p class="text-gray-700">
          Nos adaptamos a tu presupuesto y estilo para reflejar tu personalidad
          en cada espacio.
        </p>
      </div>
    </div>
  </div>

  <div
    class="container mx-auto mt-10 grid grid-cols-1 md:grid-cols-3 gap-1 px-20"
  >
    <img
      class="shadow-md"
      [src]="'/assets/img/reforma-de-bano.jpg'"
      alt="Proyecto Embajadores"
    />
    <img
      class="shadow-md"
      [src]="'/assets/img/reforma-de-bano.jpg'"
      alt="Proyecto Manchester"
    />
    <img
      class="shadow-md"
      [src]="'/assets/img/reforma-de-bano.jpg'"
      alt="Proyecto Moralzarzal"
    />
  </div>
</section>

<!-- Galería -->
<!-- <section id="galeria" class="py-12 bg-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold">Galería de Proyectos</h2>
    <div class="grid md:grid-cols-3 gap-4 mt-6">
      <img
        src="https://source.unsplash.com/400x300/?architecture"
        class=" shadow"
      />
      <img
        src="https://source.unsplash.com/400x300/?building"
        class=" shadow"
      />
      <img
        src="https://source.unsplash.com/400x300/?interior"
        class=" shadow"
      />
    </div>
  </div>
</section> -->

<!-- Testimonios -->
<!-- <section id="testimonios" class="py-12">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold">Lo que dicen nuestros clientes</h2>
    <div class="mt-6">
      <p class="text-lg italic">
        "Excelente servicio, atención y calidad en el trabajo realizado."
      </p>
      <p class="mt-2 font-light">- Juan Pérez</p>
    </div>
  </div>
</section> -->

<!-- Contacto -->
<!-- <section id="contacto" class="py-12 bg-gray-200">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold">Contáctanos</h2>
    <form class="mt-6 max-w-md mx-auto bg-white p-6  shadow">
      <input
        type="text"
        placeholder="Nombre"
        class="w-full p-2 border rounded mb-4"
      />
      <input
        type="email"
        placeholder="Correo Electrónico"
        class="w-full p-2 border rounded mb-4"
      />
      <textarea
        placeholder="Mensaje"
        class="w-full p-2 border rounded mb-4"
      ></textarea>
      <button class="bg-blue-900 text-white px-4 py-2 rounded">Enviar</button>
    </form>
  </div>
</section> -->
