<section>
  <div
    class="backgroung-contacto min-h-[78vh] flex items-center justify-center"
  >
    <div
      class="container mx-auto flex flex-col justify-center items-center h-full px-6"
    >
      <div>
        <h1 class="text-7xl text-white font-light">¿Tienes alguna duda?</h1>
        <p class="text-white text-sm py-4">No dudes en contactarnos</p>
      </div>
    </div>
  </div>
</section>

<div class="container mx-auto p-6 grid md:grid-cols-2 gap-6">
  <form
    [formGroup]="contacForm"
    class="bg-white p-6 rounded-lg shadow-lg space-y-4"
  >
    <h2 class="text-2xl font-semibold">Contáctanos</h2>
    <input
      #name
      id="name"
      name="name"
      formControlName="name"
      type="text"
      placeholder="Nombre *"
      class="w-full p-2 border rounded"
    />
    <input
      #phone
      id="phone"
      name="phone"
      formControlName="phone"
      type="tel"
      placeholder="Teléfono *"
      class="w-full p-2 border rounded"
    />
    <input
      #email
      id="email"
      name="email"
      formControlName="email"
      type="email"
      placeholder="Correo electrónico *"
      class="w-full p-2 border rounded"
    />
    <textarea
      #message
      id="message"
      name="message"
      formControlName="message"
      placeholder="Mensaje *"
      class="w-full p-2 border rounded"
    ></textarea>
    <label class="flex items-center space-x-2">
      <input type="checkbox" required />
      <span
        >He leído y acepto la
        <a
          [routerLink]="['/politica-privacidad']"
          class="text-[#0092ca] underline"
          >Política de Privacidad</a
        ></span
      >
    </label>
    <button
      class="w-full bg-[#0092ca] text-white py-2 rounded"
      (click)="sendEmail()"
    >
      Enviar
    </button>
  </form>

  <div class="space-y-4">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h4 class="text-lg font-semibold">📍 Dirección</h4>
      <p class="pb-2">Calle Jose Antonio Rebolledo y Palma 20, 28051 Madrid</p>

      <h4 class="text-lg font-semibold">📞 Teléfono</h4>
      <p class="pb-2">611 446 127</p>

      <h4 class="text-lg font-semibold">📧 Email</h4>
      <p class="pb-2">myhinteriores&#64;gmail.com</p>

      <h4 class="text-lg font-semibold">🕒 Horario</h4>
      <p>Lunes a Jueves: 09:00 - 19:00h</p>
      <p class="pb-2">Viernes: 09:00 - 15:00h</p>
    </div>
  </div>
</div>
