/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.footer-background {
  background-color: white !important;
}
.logo-white {
  text-decoration: none;
  background-image: url(./../src/assets/img/hecmar-logo.png);
  background-repeat: no-repeat;
  width: 10rem;
  height: 10rem;
}

.backgroung-home {
  text-decoration: none;
  background-image: url(./../src/assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
